.header {
    padding: 25px 0;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 132px;
}

.header nav {
    display: inline-flex;

}

.header nav ul {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;

}

.header nav ul li {
    list-style: none;
    color: white;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;


}

.active {
    background: rgb(230, 83, 60);
}

.header nav ul li a {
    color: white;
    text-decoration: none;

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;

}

.active a {
    font-weight: 600;
}

.menu-icon {
    width: 24px;
    height: 24px;
}

@media only screen and (max-width: 576px) {
    .header nav {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .menu-icon {
        display: none;
    }
}